<div class="groups-section">
    <app-section-header title="Groups" [showAdd]="true"></app-section-header>
    
    <ul class="groups-list">
      <li class="group-item" *ngFor="let group of groups">
        <img [src]="group.img" alt="Group" class="group-img">
        <span class="group-name">{{ group.name }}</span>
      </li>
      <li class="group-item create-group">
        <div class="create-group-icon">
          <i class="fa fa-plus"></i>
        </div>
        <span class="group-name">Create new group</span>
      </li>
    </ul>
  </div>