<div class="stories-section">
    <app-section-header title="Stories" [showSeeAll]="true"></app-section-header>
    
    <div class="stories-container">
      <div class="story add-story">
        <div class="add-icon">+</div>
        <div class="story-footer">Add to story</div>
      </div>
      
      <div class="story" *ngFor="let story of stories" [ngStyle]="{'background-image': 'url(' + story.backgroundImg + ')'}">
        <img [src]="story.profileImg" alt="Profile" class="story-profile">
        <div class="story-footer">{{ story.name }}</div>
      </div>
    </div>
  </div>