<div class="post-card">
    <div class="poster">
        <img src="https://framerusercontent.com/images/CbSPyXMVIfZHAkc9RBEP7XhXEw.png" alt="Post Image"
            class="post-image" />
        <div class="post-name">
            <strong>{{post.title}}</strong>
            <span>{{post.date}}</span>
        </div>
    </div>
    <div class="description">
        {{post.description}}
    </div>
    <div class="tags">
        @for(tag of post.tags; track tag){
        <div class="tag">
            {{tag}}
        </div>
        }
    </div>
    <div class="btn-container">
    <a href="/posts/{{post.id}}" class="btn">Read More</a>
    </div>
</div>