<div class="login-container">
    <div class="login-box">
        <h2 class="login-title">Login</h2>
        <form class="login-form" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label for="username">Username</label>
                <input [(ngModel)]="username" placeholder="Username" name="username" id="username" type="text"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" placeholder="Password" type="password" name="password"  id="password"  />
            </div>
            <div class="form-options">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </div>
            <button type="submit" class="login-button">Sign In</button>
        </form>
        <div class="register-link">
            Don't have an account? <a href="/signup">Sign up</a>
        </div>
    </div>
</div>