<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="logo-container">
                <img src="https://framerusercontent.com/images/CbSPyXMVIfZHAkc9RBEP7XhXEw.png" 
                     alt="Nfactorial Logo" 
                     class="logo-image" />
                <span class="site-title">Nfactorial Blog</span>
            </a>
            <div class="search-container">
                <input type="search" 
                       placeholder="Поиск.." 
                       class="search-input">
                <button type="submit" class="search-button">
                    Найти
                </button>
            </div>
            <div class="menu-container">
                <ul class="nav-list">
                    <li>
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="/posts" 
                           class="nav-link">Blog</a>
                    </li>
                    <li>
                        <a href="/login" 
                           class="nav-link">login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>