<header>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="logo-container">
                <img src="https://avatars.mds.yandex.net/i?id=3d6e66c2b79ebde3209e77f663cd36770698452e-7759147-images-thumbs&n=13" 
                     alt="Nfactorial Logo" 
                     class="logo-image" />
                <span class="site-title">Blog</span>
            </a>
            <div class="search-container">
                <input type="search" 
                       placeholder="Поиск.." 
                       class="search-input">
                <button type="submit" class="search-button">
                    Найти
                </button>
            </div>
            <div class="menu-container">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/posts" class="nav-link">ARTICLES</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">CATEGORIES</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">SIGN IN</a>
                    </li>
                    <li class="nav-item subscribe-btn">
                        <a href="/subscribe" class="nav-link">SUBSCRIBE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>